%div{:class => "well span10 offset1"}
  %div{:id => "flash-message"}
    =styled_flash
  %h3 Game: #{@game.date.localtime.strftime("%A, %B %e, %Y, %l:%M %p")}
  %div{:id => "gameButtons"}
    = haml :gameButtons
  %br
  %div{:id => "playerList"}
    = haml :playerList
  %div{:id => "waitingList"}
    = haml :waitingList
  %br
  %h3 Map
  %p
    %a{:href => "http://maps.apple.com/?q=#{@encodedAddr}"}#{@game.address.street}, #{@game.address.city}, #{@game.address.state} #{@game.address.zipCode}
  %div{:id => "map_canvas", :class => "map"}
  %br
  %div{:id => "disqus_thread"}
:javascript
  $('#signup').live('click', function () {
      var signup = $.ajax({
          url: '/game/#{params[:id]}/user/#{session[:user]}',
          type:'put'
      });

      signup.success(function () {
          $('#playerList').load('/game/#{params[:id]}/playerList');
          $('#waitingList').load('/game/#{params[:id]}/waitingList');
          $('#gameButtons').load('/game/#{params[:id]}/gameButtons');
      })
  });

  $('#remove').live('click', function () {
      var remove = $.ajax({
          url: '/game/#{params[:id]}/user/#{session[:user]}',
          type:'delete'
      });

      remove.success(function () {
          $('#playerList').load('/game/#{params[:id]}/playerList');
          $('#waitingList').load('/game/#{params[:id]}/waitingList');
          $('#gameButtons').load('/game/#{params[:id]}/gameButtons');
      })
  });

  var disqus_shortname = 'pokersignup';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  function initialize() {
    var latlng = new google.maps.LatLng(#{@game.address.coordinates[1]},#{@game.address.coordinates[0]});

    var mapOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: "#{@game.address.address}"
    });

    var contentStr = "<strong>Host: #{@hostName}</strong><br><a href='http://maps.apple.com/?q=#{@encodedAddr}'>#{@game.address.street}<br>#{@game.address.city}, #{@game.address.state} #{@game.address.zipCode}</a>";

    var infowindow = new google.maps.InfoWindow({
      content: contentStr
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?&sensor=true&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;